@use "styles/variables" as v;
@use "styles/mixins/breakpoints";
@use "styles/mixins/typography";

.upload-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  height: fit-content;

  &__input {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 356px;
  }

  &__hidden {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  &__label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    padding: 0px 30px;
    width: 100%;
    min-height: 48px;
    font-family: inherit;
    font-size: 22px;
    font-weight: 500;
    line-height: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    background-color: v.$white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    color: v.$secondary;

    white-space: nowrap;
  }
}

.avatar {
  width: 100%;
  display: flex;
  justify-content: center;

  &__img-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;

    @include breakpoints.lg {
      width: 380px;
      height: 380px;
    }
  }

  &__img {
    border-radius: 50%;
  }
}
