@use "styles/variables" as v;
@use "styles/mixins/breakpoints";

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: v.$primary;
}

.main {
  flex: 1 1 auto;
  display: flex;

  &__outlet-wrapper {
    width: 0;
    flex: auto;
    padding: 0px 10px;
    padding: 0px 20px 0px 20px;

    @include breakpoints.xl {
      padding: 0px 20px 0px 104px;
    }
  }
}
