@use "styles/variables" as v;
@use "styles/mixins/breakpoints";
@use "styles/mixins/typography";

.account-setting {
  background-color: v.$white;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 15px;
  color: v.$green;

  @include breakpoints.xl {
    padding: 45px 108px;
  }

  &__title {
    display: flex;
    justify-content: center;
    color: v.$green;
    font-size: 40px;
  }

  &__content {
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;

  gap: 20px;

  @include breakpoints.xl {
    flex-direction: row;
  }

  &__avatar-upload {
    flex: 0 1 50%;
    padding: 20px;
  }
  &__info {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 20px;
    color: black;
    width: 100%;
    height: 100%;
  }
}
