@use "styles/variables" as v;
@use "styles/mixins/breakpoints";
@use "styles/mixins/typography";

.container {
  color: black;
  overflow: hidden;
  display: flex;
  gap: 12px;
  height: 48px;
  align-items: center;
  justify-content: center;
}

.label {
  display: flex;
  font-size: v.$font-size-14;
  order: 2;
  font-size: v.$font-size-14;
  color: v.$secondary;
}

.input {
  display: flex;
  order: 1;
  height: 22px;
  width: 24px;
  accent-color: v.$secondary;
  cursor: pointer;
  &:focus {
    box-shadow: 0px 0px 6px #766ed3;
    transition: all 0.3s;
  }
}

.error {
  font-size: 12px;
  color: v.$black;
  opacity: 0.5;
}
