@use "styles/variables" as v;
@use "styles/mixins/typography";

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__name {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  .button {
    background-color: v.$secondary;
  }
}

input[type="file"] {
  display: none;
}

.characteristics {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__add-button {
    display: flex;
    justify-content: flex-end;
  }

  &__inputs {
    display: flex;
    gap: 16px;
  }
  &__label {
    font-size: v.$font-size-14;
    border-bottom: 1px solid;
  }
  &__button {
    color: v.$secondary;
    border-color: v.$secondary;
    font-size: v.$font-size-14;
    padding: 6px 12px;
    cursor: pointer;
    width: fit-content;
    border-radius: v.$border-radius-7;
  }
}

.inputs {
  color: red;

  &__item {
    flex: auto;
  }
}

.error {
  color: v.$red;
}
